.news {
  position: relative;
  background-color: #fff;
  width: 840px;
  margin: -40px auto 0;
  padding: 24px 40px;
  border-radius: var(--border-radius);
}
.newsTitle {
  font-size: 1.5rem;
}

.newsLink {
  position: absolute;
  right: -40px;
  bottom: -40px;
}

@media (max-width: 640px) {
  .news {
    width: calc(100% - 32px);
    padding: 16px 24px;
  }

  .newsLink {
    position: relative;
    right: auto;
    bottom: auto;
    margin-top: 16px;
  }
}
